<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>登录 & 注册</title>
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
    <!--如果IE版本低于IE9，使浏览器支持HTML5和CSS3-->
    <!--[if lt IE 9]>
    <script src="//i.mazey.net/lib/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//i.mazey.net/lib/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3.4.29/dist/vue.esm-browser.js",
                "axios": "https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"
            },
            "scopes": {}
        }
    </script>
    <link rel="stylesheet" href="../../static/css/style.css"/>
</head>

<body>
<script type="module">
    import {createApp} from 'vue';
    import sideBar from "../../static/js/sideBar.js";

    const app = createApp({
        components: {
            sideBar
        },
        data() {
            return {
                username: '',

                password: '',
                now: '主页',
                right_active: true
            }
        },
        methods: {
            btnRegisterClick: function () {
                this.right_active = true;
            },
            btnLoginClick: function () {
                this.right_active = false;
            },
            loginSubmit: function () {
                var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
                axios.defaults.headers.common['X-CSRFToken'] = csrftoken;
                console.log(csrftoken);
                axios.post('/users/login/', {
                        username: this.username,
                        'password': this.password,
                        // 'csrfmiddlewaretoken': csrftoken
                    }, {
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrftoken
                        }
                    }
                )
                    .then((response) => {
                        console.log(response);
                        let res_data = response.data;
                        if (res_data.status === 'success') {
                            console.log('登陆成功' + res_data.username);
                            window.location.href = '/';
                        } else {
                            alert("用户名或密码错误");
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            }
        },
        ready() {
            _ready();

        },
        template: `
<div class='d-flex flex-row' style="margin-left: clamp(200px, 20vw, 20vw); padding: 15px;">
    <side-bar :now='now'></side-bar>
    <div class="container mt-3">
        <div class="row">

            <div class="col-10 p-5">
                <div :class="['main',right_active && 'right-panel-active']" id="main">
                    <div class="form-container sign-up-container">
                        <form action="/users/login/" method="POST">
                        {% csrf_token %}
                            <h1>注 册</h1>
                            <br>
<!--                            <div class="social-container">-->
<!--                                <a href="" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a href="" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--                                <a href="" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--                            </div>-->
<!--                            <span>或使用邮箱注册</span>-->
                            <input type="text" name="username" placeholder="用户名">
                            <input type="email" name="email" placeholder="电子邮箱">
                            <input type="password" name="password" placeholder="密 码">
                            <br>
                            <button id="register" type="submit">注 册</button>
                        </form>
                    </div>
                    <div class="form-container sign-in-container">
                        <form action="/users/login/" method="POST">
                        {% csrf_token %}
                            <h1>登 录</h1>
                            <br>
<!--                            <div class="social-container">-->
<!--                                <a href="" class="social"><i class="fab fa-facebook-f"></i></a>-->
<!--                                <a href="" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--                                <a href="" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--                            </div>-->
<!--                            <span>或使用您的帐号</span>-->
                            <input type="text" name="username" placeholder="用户名" v-model="username">
                            <input type="password" name="password" placeholder="密 码" v-model="password">
                            <a href="#" style="text-decoration:none">忘记密码？</a>
                            <br>
                            <button id="login" type="button" @click="loginSubmit">登 录</button>
                        </form>
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1>已有帐号？</h1>
                                <p>请使用您的帐号进行登录</p>
                                <button class="switcher" id="btnLogin" @click="btnLoginClick()">登 录</button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <h1>没有帐号？</h1>
                                <p>立即注册加入我们，和我们一起开始旅程吧</p>
                                <button class="switcher" id="btnRegister" @click="btnRegisterClick()">注 册</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

        `
    });
    app.mount("#app");
</script>
<div id="app" class="container-fluid"></div>
</body>

</html>
<script type="text/javascript" src="../../static/js/login.js"></script>
