<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代码重复检测</title>
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3.4.29/dist/vue.esm-browser.js",
                "axios": "https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"
            },
            "scopes": {}
        }

    </script>

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/theme/vintage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.0/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <!-- Prism.js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-markup.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div id="app" class="container-fluid"></div>

<script type="module">
    import { createApp } from 'vue';
    import sideBar from "../static/js/sideBar.js";

    const highlightDirective = {
        mounted(el) {
            Prism.highlightElement(el);
        },
        updated(el) {
            Prism.highlightElement(el);
        }
    };

    const app = createApp({
        components: {
            sideBar
        },
        directives: {
            highlight: highlightDirective
        },
        data() {
            return {
                now: "代码重复检测",
                uploadedFiles: [],
                fileContents: [],
                selectedFileIndex: null,
                standardFileIndex: null,
                plagiarizedFiles: [],
            };
        },
        methods: {
             handleFileChange(event) {
                const files = event.target.files;
                if (files && files.length > 0) {

                    this.uploadedFiles = Array.from(files);
                    this.readFileContents();
                    this.updateChart(files); // Call updateChart after files are uploaded

                    const formData = new FormData();
                    for (let i = 0; i < files.length; i++) {
                        formData.append('files', files[i]);
                    }
                    formData.append('comparison_type', 'single_to_multiple'); // 比较类型，根据后端要求设置

                    axios.post('/api/comparison/', formData)
                        .then(response => {
                            // 处理响应
                            console.log(response.data);
                            this.results = response.data.results;
                        })
                        .catch(error => {
                            // 处理错误
                            console.error('Error uploading files:', error);
                        });
                }
            },

            readFileContents() {
                this.fileContents = [];
                this.uploadedFiles.forEach((file, index) => {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                        this.fileContents.push(event.target.result);
                        if (index === 0) {
                            this.standardFileIndex = 0;
                        }
                    };
                    reader.readAsText(file);
                });
            },
            downloadFile(fileIndex) {
                const file = this.uploadedFiles[fileIndex];
                const blob = new Blob([this.fileContents[fileIndex]], { type: "text/plain" });
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.style.display = "none";
                a.href = url;
                a.download = file.name;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                document.body.removeChild(a);
            },
            markAsPlagiarized(fileIndex) {
                if (!this.plagiarizedFiles.includes(fileIndex)) {
                    this.plagiarizedFiles.push(fileIndex);
                }
            },
            markAsNotPlagiarized(fileIndex) {
                if (this.plagiarizedFiles.includes(fileIndex)) {
                    this.plagiarizedFiles.pop(fileIndex);
                }
            },
            exportPlagiarizedFiles() {
                const zip = new JSZip();
                this.plagiarizedFiles.forEach(index => {
                    zip.file(this.uploadedFiles[index].name, this.fileContents[index]);
                });
                zip.generateAsync({ type: 'blob' }).then(content => {
                    saveAs(content, 'plagiarized_files.zip');
                });
            },
            updateChart(files) {
                var fileNames = Array.from(files).slice(1).map(file => file.name);
                var firstFileName = files[0].name;

                var myChart = echarts.init(document.getElementById('chart1'), 'vintage');

                var colors = [
                    "#d87c7c",
                    "#919e8b",
                    "#d7ab82",
                    "#6e7074",
                    "#61a0a8",
                    "#efa18d",
                    "#787464",
                    "#cc7e63",
                    "#724e58",
                    "#4b565b"
                ];

                var option = {
                    title: {
                        text: `Standard: ${firstFileName}`,
                    },
                    tooltip: {},
                    xAxis: {
                        data: fileNames
                    },
                    yAxis: {},
                    series: [{
                        name: 'Percentage',
                        type: 'bar',
                        data: [81, 32, 15, 4],
                        itemStyle: {
                            normal: {
                                color: function(params) {
                                    return colors[params.dataIndex % colors.length];
                                }
                            }
                        }
                    }]
                };

                myChart.setOption(option);
            }
        },
        mounted() {
            Prism.highlightAll();
        },
        watch: {
            selectedFileIndex(newValue) {
                if (newValue !== null && newValue !== this.standardFileIndex) {
                    this.standardFileIndex = 0; // Reset standard file index when selecting other files
                }
            }
        },
        computed: {
            showExportButton() {
                return this.plagiarizedFiles.length > 0;
            }
        },
        template: `
            <div class="d-flex flex-row" style="margin-left: clamp(200px, 20vw, 20vw); padding: 15px;">
                <!-- 左侧 sidebar -->
                <side-bar :now="now"></side-bar>

                <!-- 右侧内容 -->
                <div style="flex-grow: 1; display: flex; flex-direction: column; padding: 20px;">
                    <div class="navbar d-flex justify-content-between align-items-center">
                        <h1 style="margin-bottom: 0;">代码上传和显示示例</h1>
                        <button type="button" class="btn btn-dark" onclick="document.getElementById('fileInput').click();">上传文件</button>
                        <input type="file" id="fileInput" accept=".txt,.py,.js,.html,.css" multiple hidden ref="fileInput" @change="handleFileChange">
                    </div>
                    <hr>

                    <!-- 图表区域 -->
                    <div id="chart1" style="width: 100%; height: 400px; margin-top: 20px;"></div>

                    <!-- 主显示区域 -->
                    <div class="d-flex flex-row flex-grow-1">
                        <!-- 右侧显示区域 -->
                        <div style="flex: 1; padding-right: 10px; overflow-x: auto; border-bottom: 1px solid #ccc;">
                            <div v-if="uploadedFiles.length > 0 && standardFileIndex !== null">
                                <h3>

                                    {% verbatim %}
	                                    {{ uploadedFiles[standardFileIndex].name }}
                                    {% endverbatim %}

                                </h3>
                                <pre class="language-python" style="max-height: 400px; overflow-x: auto; overflow-y: auto; white-space: pre-wrap;" v-highlight><code>{% verbatim %} {{ fileContents[standardFileIndex] }} {% endverbatim %}</code></pre>
                                <button type="button" class="btn btn-primary" @click="downloadFile(standardFileIndex)">下载文件</button>
                            </div>
                        </div>

                        <!-- 下拉选择和显示其他文件 -->
                        <div style="flex: 1; padding-left: 10px; overflow-x: auto; border-bottom: 1px solid #ccc;">
                            <div v-if="uploadedFiles.length > 1">
                                <div v-if="selectedFileIndex !== null && selectedFileIndex !== standardFileIndex">
                                    <h3>
                                        {% verbatim %}
                                            {{ uploadedFiles[selectedFileIndex].name }}
                                        {% endverbatim %}
                                        <span v-if="plagiarizedFiles.includes(selectedFileIndex)" style="color: red; font-size: 0.8em;">（抄袭）</span>
                                        <span v-else style="color: green; font-size: 0.8em;">（非抄袭）</span>
                                    </h3>
                                    <pre class="language-python" style="max-height: 400px; overflow-x: auto; overflow-y: auto; white-space: pre-wrap;"><code>{% verbatim %} {{ fileContents[selectedFileIndex] }} {% endverbatim %}</code></pre>
                                    <button type="button" class="btn btn-primary" @click="downloadFile(selectedFileIndex)">下载文件</button>
                                    <button type="button" class="btn btn-danger"  @click="markAsPlagiarized(selectedFileIndex)">标记为抄袭</button>
                                    <button type="button" class="btn btn-success" @click="markAsNotPlagiarized(selectedFileIndex)">标记为未抄袭</button>
                                </div>
                                <h5 style="margin-top: 20px;">选择其他文件：</h5>
                                <select v-model="selectedFileIndex" class="form-select mt-3">
                                    <option v-for="(file, index) in uploadedFiles.slice(1)" :key="index + 1" :value="index + 1">{% verbatim %} {{ file.name }} {% endverbatim %}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- 导出抄袭文件按钮 -->
                    <div style="margin-top: 20px;" v-if="showExportButton">
                        <button type="button" class="btn btn-primary" @click="exportPlagiarizedFiles">导出被标记为抄袭的文件</button>
                    </div>
                </div>
            </div>
        `,
    });

    app.mount("#app");

</script>

</body>
</html>
